/* :folding=explicit: */

html, body {
	height:100%;
}

.wrap {
	background: #181818;
	position: relative;
	width: 900px;
	margin: 0px auto;
	
	height: auto !important;
	height: 100%;
	min-height: 100%;
	
	border-left: 1px solid #282828;
	border-right: 1px solid #282828;
}

.contentdiv {
	padding:10px;
}

.empty_inner {
	height:20px;
}

#footer {
	font-size:10px;
	position:relative;
	margin-top:-21px; 
	
	height:20px; 
	line-height: 20px;
	vertical-align:middle;

	width:100%; 
	border-top: 1px solid #222;
	background:#111;
	color: #666;
	text-align:right;
}

body {
	color: #aaa;
	background: #000;
	font-family:Verdana,Tahoma,Helvetica,Arial,sans-serif;
	font-size:75%;
	font-size-adjust:none;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:normal;
}

body{
	margin: 0 0 0 0;
	/* background:#003; */
}

a{
	color: #229;
}

code{
	font-size:12px;
}

table{
	font-size:100%;
}

form{
	margin: 0px;
}

pre{
	margin: 0px;
}

input{
	background: #666;
	color: #ddd;
	border: 1px solid #999;
}

input:focus{
	border: 1px solid #ddd;
	color: #fff;
}

input[type='submit'] {
	font-weight: 700;
	background: #555;
	border-top: 1px solid #666;
	border-left: 1px solid #666;
	border-right: 1px solid #444;
	border-bottom: 1px solid #444;
}

input[type='checkbox'] {
	background-color: #555;
	color: #555;
	border: 1px solid #444;
}

table{
	border-top: #999 1px solid;
	border-left: #999 1px solid;
	width:100%;
	background:white;
	border-spacing: 0px;
	border-collapse: separate !important;
	border-spacing: 0;
	border-collapse: collapse;
}

table th{
	background: #bbb;
	color: #fff;
	cursor: default;
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-bottom: 1px solid #999;
	border-right: 1px solid #999;
	
}

table td{
	border-bottom: 1px solid #ccc;
	border-right: 1px solid #ccc;
	padding : 3px;
}

table img{
	vertical-align: middle;
}

select{
	font-family: verdana,tahoma,sans-serif;
}
