/* :folding=explicit: */

html, body {
	height:100%;
}

.wrap {
	background:#fff;
	position:relative;
	width:900px;
	margin: 0px auto;
	
	height:auto !important;
	height:100%;
	min-height:100%;
	
	border-left:1px solid #d8d9d8; 
	border-right:1px solid #d8d9d8; 	
}

.contentdiv {
	padding:10px;
}

.empty_inner {
	height:20px;
}

#footer {
	font-size:10px;
	position:relative;
	margin-top:-21px; 
	
	height:20px; 
	line-height: 20px;
	vertical-align:middle;

	width:100%; 
	border-top: 1px solid #e8e9e8;
	background:#fff;
	text-align:right;
}

body {
	color:#000;
	font-family:Verdana,Tahoma,Helvetica,Arial,sans-serif;
	font-size:75%;
	font-size-adjust:none;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:normal;
}

body{
	margin: 0 0 0 0;
	background:#eee;
}

a{
	color: #229;
}

code{
	font-size:12px;
}

table{
	font-size:100%;
}

form{
	margin: 0px;
}

pre{
	margin: 0px;
}

table{
	border-top: #999 1px solid;
	border-left: #999 1px solid;
	width:100%;
	background:white;
	border-spacing: 0px;
	border-collapse: separate !important;
	border-spacing: 0;
	border-collapse: collapse;
}

table th{
	background: #bbb;
	color: #fff;
	cursor: default;
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-bottom: 1px solid #999;
	border-right: 1px solid #999;
	
}

table td{
	border-bottom: 1px solid #ccc;
	border-right: 1px solid #ccc;
	padding : 3px;
}

table img{
	vertical-align: middle;
}

fieldset{
	margin: 5px;
	padding: 5px;
}

fieldset legend{
	font-weight: 700;
	color: #66B;
}

select{
	font-family: verdana,tahoma,sans-serif;
}
